/* Deal card then fly it to scorer name */
@keyframes fly-player1 {
	0% { transform: translate(-244px,0px) rotateY( 180deg ); visibility: visible; }
	44% { transform: translate(0px,0px) rotateY( 0deg ); visibility: visible;}
	
	100% { transform: translate(-226px,-650px) rotateY( 0deg ); visibility: hidden; }
}

@keyframes fly-player2 {
	0% { transform: translate(-244px,0px) rotateY( 180deg ); visibility: visible;}
	44% { transform: translate(0px,0px) rotateY( 0deg );  visibility: visible;}
	
	100% { transform: translate(0px,-650px) rotateY( 0deg );  visibility: hidden;}
}
.fly-player1 {
	animation-name: 'fly-player1';
	animation-duration: 2.25s;
	//opacity: 0;
	visibility: hidden;
}

.fly-player2 {
	animation-name: 'fly-player2';
	animation-duration: 2.25s;
	//opacity: 0;
	visibility: hidden;
}

/* Rest of cards in pile fly to scorer name */
@keyframes fly-player1-delay {
	0% { transform: translate(0px,0px) rotateY( 0deg ); opacity: 1; visibility: visible;}
	50% { transform: translate(0px,0px) rotateY( 0deg ); opacity: 1; visibility: visible;}
	95% { opacity: 0.9; }
	100% { transform: translate(-226px,-650px) rotateY( 0deg ); opacity: 0; visibility: hidden;}
}

@keyframes fly-player2-delay {
	0% { transform: translate(0px,0px) rotateY( 0deg ); opacity: 1; visibility: visible;}
	50% { transform: translate(0px,0px) rotateY( 0deg ); opacity: 1; visibility: visible;}
	95% { opacity: 0.9; }
	100% { transform: translate(0px,-650px) rotateY( 0deg ); opacity: 0; visibility: hidden;}
}
.fly-player1-delay {
	animation-name: 'fly-player1-delay';
	opacity: 0;
	visibility: hidden;
}

.fly-player2-delay {
	animation-name: 'fly-player2-delay';
	opacity: 0;
	visibility: hidden;
}


/* Deal flip */
@keyframes deal-card {
	0% { transform: translate(-244px,0px) rotateY( 180deg ); }
	100% { transform: translate(0px,0px) rotateY( 0deg );}
}
.deal-card {
	animation-name: 'deal-card';
	animation-duration: 1s;
}

@keyframes deal-again {
	0% { transform: translate(-244px,0px) rotateY( 180deg ); }
	100% { transform: translate(0px,0px) rotateY( 0deg );}
}
.deal-again {
	animation-name: 'deal-again';
	animation-duration: 1s;
}