/* Card & CardSection */
.card-area {
	width: 470px;
	margin: auto;
	margin-top: 20px;
}
.cards, .card-numbers {
	display:flex;
	justify-content: space-between;
}

.number {
	width: 226px;
	text-align: center;
	font-size: 25px;
	color: #F8D64E;
}

.card-back {
	width: 224px;
	height: 312px;
	border: 1px solid black;
	border-radius: 10px;
	background-image: url("../images/card-back-taylor.png");
	background-size: 100%;
}

.card-empty {
	width: 226px;
	height: 316px;
}

.card-container {
	position: absolute;
	left: calc(50% + 10px);
}

.card {
	transform-style: preserve-3d;
	perspective: 1000px;
}

.flip-front, .flip-back {
	position: relative;
	backface-visibility: hidden;
}

.flip-front {
	top: -316px;
}

.flip-back {
	transform: rotateY(180deg);
}