body {
	margin: 0;
	padding: 0;
	background-image: url("images/green-bg.jpg");
	background-size: 100%;
	background-color: #308834;
	font-family: 'Concert One', cursive;
}

button {
	font-family: 'Concert One', cursive;
}

/* Header.js */
.players {
	display: grid;
	grid-template-columns: 1fr 60px 60px 1fr;
	grid-column-gap: 10px;
	grid-template-rows: 32px;
	margin: auto;
	padding-top: 10px;
	height: 55px;
	font-family: 'Concert One', cursive;
	background: #141b40;
	border-bottom: 4px solid #757d9b;
}

.player-name {
	font-size: 30px;
	line-height: 37px;
	color: white;
}

.player1 {
	text-align: right;
}

.player-score {
	font-size: 30px;
	text-align: center;
	color: black;
	background-color: #F8D64E;
	border-radius: 5px;
	width: 48px;
	height: 37px;
	margin: 3px 10px 0px 10px;
}

.dealer1 {
	margin: 0 10px 0 0;
}
.dealer2 {
	margin: 0 0 0 10px;
}
.hidden {
	visibility: hidden;
}

/* NewGame.js */
.new-game {
	width: 60%;
	margin: auto;
	margin-top: 40px;
	padding: 20px;
	background-color: #141b40;
	border: 3px solid #757d9b;
	opacity: 0.9;
}

.welcome {
	color: white;
	font-size: 35px;
	text-align: center;
}

.new-game form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}
.new-game input {
	height: 20px;
	width: 50%;
	margin: auto;
	margin-top: 10px;
	font-size: 17px;
	text-align: center;
	font-family: 'Concert One', cursive;
}

.new-game button {
	width: 125px;
	margin-top: 15px;
}


/* Basic buttons */
.button {
	margin: 5px 10px;
	font-size: 15px;
	border: 1px solid #141b40;
	border-radius: 5px;
	background: #eee;
	cursor: pointer;
	outline: none;
}

.button:hover {
	background: #ccc;
}

.button:active {
	background: #999;
}

/* Game Over */
@keyframes font-zoom {
	0% { font-size: 0px; }
	100% { font-size: 60px; }
}

.game-over {
	height: 201px;
	line-height: 201px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 60px;
	color: white;
	animation-name: font-zoom;
	animation-duration: 1s;
}

/* Guess.js */
.guess {
	margin-bottom: 20px;
	text-align: center;
}

.pass {
	font-size: 22px;
	padding: 3px 10px;
	border-radius: 7px;
	background: #eee;
	border: 2px solid #141b40;
	color: #141b40;
	outline: none;
	cursor: pointer;
	margin-bottom: 10px;
}

.pass:hover {
	background: #bbb;
}

.pass:active {
	background: #999;
}

.pass:disabled {
	background: #cacaca;
	border: 2px solid transparent;
	color: #999;
	cursor: not-allowed;
}

.hi-low {
	height: 80px;
	width: 120px;
	margin: 10px;
	padding: 0;
	background: #eee;
	border-radius: 10px;
	font-size: 50px;
	color: black;
  	cursor: pointer;
  	outline: none;
  	border: none;
  	box-shadow: 0 9px #999;
}

.hi-low:hover {
	background: #bbb;
}

.hi-low:active {
	background: #bbb;
  	box-shadow: 0 5px #666;
 	transform: translateY(4px);
}

.guesserName {
	font-size: 27px;
	color: white;
	margin-top: 20px;
}

.guessCount {
	font-size: 30px;
	text-align: center;
	color: black;
	background-color: #F8D64E;
	border-radius: 5px;
	padding: 1px 7px;
	margin: auto;
	margin-top: 10px;
}

/* Card & CardSection */
.card-area {
	width: 470px;
	margin: auto;
	margin-top: 20px;
}
.cards, .card-numbers {
	display:flex;
	justify-content: space-between;
}

.number {
	width: 226px;
	text-align: center;
	font-size: 25px;
	color: #F8D64E;
}

/* ANIMATIONS */
/* cards fly to player on score */
@keyframes fly-player1 {
	0% { transform: translate(0px,0px); opacity: 1; visibility: visible; }
	20% { transform: translate(0px,0px); opacity: 1; visibility: visible; }
	75% { opacity: 0.9; }
	100% { transform: translate(-226px,-650px); opacity: 0; visibility: hidden;}
}

@keyframes fly-player2 {
	0% { transform: translate(0px,0px); opacity: 1; visibility: visible; }
	20% { transform: translate(0px,0px); opacity: 1; visibility: visible; }
	75% { opacity: 0.9; }
	100% { transform: translate(0px,-650px); opacity: 0; visibility: hidden; }
}
.fly-player1 {
	animation-name: 'fly-player1';
	animation-duration: 1.25s;
	//animation-delay: 0.25s;
	opacity: 0;
	visibility: hidden;
}

.fly-player2 {
	animation-name: 'fly-player2';
	animation-duration: 1.25s;
	//animation-delay: 0.25s;
	opacity: 0;
	visibility: hidden;
}

/* card flip */
@keyframes deal-card {
	0% { transform: translate(-244px,0px) rotateY( 180deg ); }
	100% { transform: translate(0px,0px) rotateY( 0deg );}
}
.deal-card {
	animation-name: 'deal-card';
	animation-duration: 1s;
}

@keyframes deal-again {
	0% { transform: translate(-244px,0px) rotateY( 180deg ); }
	100% { transform: translate(0px,0px) rotateY( 0deg );}
}
.deal-again {
	animation-name: 'deal-again';
	animation-duration: 1s;
}

.card-back {
	width: 224px;
	height: 312px;
	border: 1px solid black;
	border-radius: 10px;
	background-image: url("images/card-back-taylor.png");
	background-size: 100%;
}

.card-empty {
	width: 226px;
	height: 316px;
}

.card {
	transform-style: preserve-3d;
	perspective: 1000px;
}

.flip-front, .flip-back {
	position: relative;
	backface-visibility: hidden;
}

.flip-front {
	top: -316px;
}

.flip-back {
	transform: rotateY(180deg);
}
