body {
	margin: 0;
	padding: 0;
	background-image: url("images/green-bg.jpg");
	background-size: 100%;
	background-color: #308834;
	font-family: 'Concert One', cursive;
}

button {
	font-family: 'Concert One', cursive;
}

/* Header.js */
.players {
	display: grid;
	grid-template-columns: 1fr 60px 60px 1fr;
	grid-column-gap: 10px;
	grid-template-rows: 32px;
	margin: auto;
	padding-top: 10px;
	height: 55px;
	font-family: 'Concert One', cursive;
	background: #141b40;
	border-bottom: 4px solid #757d9b;
}

.player-name {
	font-size: 30px;
	line-height: 37px;
	color: white;
}

.player1 {
	text-align: right;
}

.player-score {
	font-size: 30px;
	text-align: center;
	color: black;
	background-color: #F8D64E;
	border-radius: 5px;
	width: 48px;
	height: 37px;
	margin: 3px 10px 0px 10px;
}

.dealer1 {
	margin: 0 10px 0 0;
}
.dealer2 {
	margin: 0 0 0 10px;
}
.hidden {
	visibility: hidden;
}

/* NewGame.js */
.new-game {
	width: 60%;
	margin: auto;
	margin-top: 40px;
	padding: 20px;
	background-color: #141b40;
	border: 3px solid #757d9b;
	opacity: 0.9;
}

.welcome {
	color: white;
	font-size: 35px;
	text-align: center;
}

.new-game form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}
.new-game input {
	height: 20px;
	width: 50%;
	margin: auto;
	margin-top: 10px;
	font-size: 17px;
	text-align: center;
	font-family: 'Concert One', cursive;
}

.new-game button {
	width: 125px;
	margin-top: 15px;
}


/* Basic buttons */
.button {
	margin: 5px 10px;
	font-size: 15px;
	border: 1px solid #141b40;
	border-radius: 5px;
	background: #eee;
	cursor: pointer;
	outline: none;
}

.button:hover {
	background: #ccc;
}

.button:active {
	background: #999;
}

/* Game Over */
.game-over {
	height: 201px;
	line-height: 201px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 60px;
	color: white;
}

/* Guess.js */
.guess {
	margin-bottom: 20px;
	text-align: center;
}

.pass {
	font-size: 22px;
	padding: 3px 10px;
	border-radius: 7px;
	background: #eee;
	border: 2px solid #141b40;
	color: #141b40;
	outline: none;
	cursor: pointer;
	margin-bottom: 10px;
}

.pass:hover {
	background: #bbb;
}

.pass:active {
	background: #999;
}

.pass:disabled {
	background: #cacaca;
	border: 2px solid transparent;
	color: #999;
	cursor: not-allowed;
}

.hi-low {
	height: 80px;
	width: 120px;
	margin: 10px;
	background: #eee;
	border-radius: 10px;
	font-size: 50px;
	color: black;
  	cursor: pointer;
  	outline: none;
  	border: none;
  	box-shadow: 0 9px #999;
}

.hi-low:hover {
	background: #bbb;
}

.hi-low:active {
	background: #bbb;
  	box-shadow: 0 5px #666;
 	transform: translateY(4px);
}

.guesserName {
	font-size: 27px;
	color: white;
	margin-top: 20px;
}

.guessCount {
	font-size: 30px;
	text-align: center;
	color: black;
	background-color: #F8D64E;
	border-radius: 5px;
	padding: 1px 7px;
	margin: auto;
	margin-top: 10px;
}

/* Card & CardSection */
.cards {
	display:flex;
	width: 470px;
	margin: auto;
	margin-top: 15px;
	justify-content: space-between;
}

.card-numbers {
	display:flex;
	width: 470px;
	margin: auto;
	margin-top: 0px;
	justify-content: space-between;
}

.number {
	width: 226px;
	text-align: center;
	font-size: 25px;
	color: #F8D64E;
}
.card-back {
	width: 224px;
	height: 312px;
	border: 1px solid black;
	border-radius: 10px;
	background-image: url("images/card-back-taylor.png");
	background-size: 100%;
}

.card-empty {
	width: 222px;
	height: 312px;
	border: 2px solid black;
	border-radius: 10px;
}